<launch>

    <!-- zed stereo camera launch file -->
    <include file="$(find zed_cam)/launch/zed_cam.launch"/>

    <!-- imu launch file -->
    <include file="$(find xsens_driver)/launch/xsens_driver.launch"/>

    <!-- vrpn launch file-->
    <include file="$(find vrpn_client_ros)/launch/sample.launch"/>
</launch>
