<launch>
    <arg name="fcu_url" default="/dev/px4:921600" />

    <!-- mavros launch file -->
    <!--include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)" />
    </include-->

    <!-- zed stereo camera launch file -->
    <include file="$(find zed_cam)/launch/zed_cam.launch"/>

    <!-- imu launch file -->
    <include file="$(find xsens_driver)/launch/xsens_driver.launch"/>

    <!-- vrpn launch file-->
    <include file="$(find vrpn_client_ros)/launch/sample.launch"/>
</launch>
