<launch>
	<!-- device driver /-->
    <include file="$(find application)/launch/devices.launch"/>

 	<!-- uav controller launch file -->
    <include file="$(find uav_controller)/launch/uav_controller.launch"/>

	<!-- stereo dense reconstruction /-->
    <include file="$(find dense_reconstruction)/launch/dense_reconstruction.launch"/>

	<!-- frontier_based exploration algorithm-->
	<node name="frontier_exploration_node" pkg="frontier_exploration" type="frontier_exploration_node" output="screen"/>

	<!-- rrt planner server /-->
    <node name="rrt_planner_server" pkg="rrt_path_planner" type="rrt_planner_node" output="screen"/>

	<!-- linear planner server /-->
	<node name="linear_planner_server" pkg="linear_path_planner" type="linear_planner_node" output="screen"/>

    <!-- octomap mapping /-->
    <node pkg="tf" type="static_transform_publisher" name="imu_to_camera" args="0 0 0 -1.57 0 -1.57  imu camera 40" />
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" output="screen">
		<param name="frame_id" value="/map"/>
		<param name="resolution" value="0.09" />
		<param name="latch" value="false"/>
		<param name="pointcloud_max_z" value="1.0" />
		<param name="pointcloud_min_z" value="0.6 " />
		<param name="sensor_model/max_range" value="4.0" /> 
		<param name="sensor_model/hit" value="0.64" /> 
		<param name="sensor_model/max" value="0.97" /> 
		<param name="filter_ground" value="false" /> 
        <param name="occupancy_min_z" value="0.6" />
        <param name="occupancy_max_z" value="1.0" />
		<remap from="cloud_in" to="/point_cloud" />
	</node>
	
	<!-- exploration node -->
	<node name="exploration_node" pkg="application" type="exploration_node" output="screen"/>
</launch>